.example-container {
  position: fixed;
  top: 8%;
}

.mat-list-item {
  background-color: cadetblue;
  color: aquamarine;
}

.mat-icon-button {
  outline: none;
}

.toolbar {
  background-color: aliceblue;
  width: 100%;
  position: relative;
  display: block;
}
