.example-container {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-list-item {
  background-color: cadetblue;
  color: aquamarine;
}

.mat-icon-button {
  outline: none;
}



