<div class='container'>
  <section class="d-flex flex-row justify-content-center">
    <div class="p-4" style="color: white">Filter by:</div>
    <div class="p-4">
      <input type='text' [(ngModel)]='listFilter'/>
    </div>
    <div class="p-4" *ngIf='listFilter'>
      <h4 style="color: white">Filtered by: {{listFilter}}</h4>
    </div>
  </section>

  <section>
      <div *ngIf='quotes && quotes.length'></div>
        <div *ngFor='let quote of filteredQuotes'>
          <div class="row">
            <div class="col bg-secondary">
              {{ quote.meat }}
              <pm-star [rating]='quote.rating'></pm-star>
            </div>
          </div>
        </div>
  </section>


  <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>

</div>
