/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
/*@font-face {*/
/*    font-family: Inconsolata-Bold;*/
/*    src: url(./assets/fonts/Inconsolata-Bold.ttf)*/
/*}*/
/*@font-face {*/
/*    font-family: Inconsolata-Regular;*/
/*    src: url(./assets/fonts/Inconsolata-Regular.ttf)*/
/*}*/

html, body {
  background: url('./assets/images/SkySurveyBanner.jpg');
  background-size: cover;
  height: auto;
  width: 100%
}

.code-style-bold {
    font-family: 'Inconsolata-Bold', serif;
}

.code-style-regular {
    font-family: 'Inconsolata-Regular', serif;
}

.dark {
    background-color: black;
}

.title, .title:focus {
  font-family: 'Inconsolata-Bold', serif;
  color: crimson;
  outline: none
}

.card-footer {
  color: crimson;
  bottom: 0px;
  height: 10%;
  display: block;
}

 .menu, .menu:focus {
   color: goldenrod;
   outline: none
 }

/*bg-primary {*/
/*color: #337AB7;*/
/*}*/
/*bg-secondary {*/
/*color: #32CD32*/
/*}*/
/*bg-success {*/
/*color:*/
/*}*/
/*bg-danger {*/
/*color:*/
/*}*/
/*bg-warning {*/
/*color:*/
/*}*/
/*bg-info {*/
/*color:*/
/*}*/
/*bg-dark {*/
/*color:*/
/*}*/
/*bg-white {*/
/*color:*/
/*}*/
/*bg-transparent {*/
/*color:*/
/*}*/


